<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>The API | 1.0</title>
    <link rel="stylesheet" href="/style.css" />
    <meta property="og:title" content="The API" />
  
    <meta property="description" content="Just an API" />
    <meta property="og:url" content="https://theapi.glitch.me/" />
    <meta
      property="og:image"
      content=""
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to use this app.
    </noscript>
    <div class="title_top">
      The API
    </div>
    <div class="center">
      <h1 class="title-princ">
        Where do you want to go ?
      </h1>
    </div>

    <div class="arranger">
      <a href="/lol" class="link-main"><button class="btn-l">
        LoL
        </button></a>
        <a href="/fortnite" class="link-main"><button class="btn-r">
        Fortnite
        </button></a>
    </div>
  
    <footer>Made with <3 by ZedRoff &copy</footer>
    <script src="/script.js"></script>
  </body>
</html>
