<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>The API | 1.0</title>
    <link rel="stylesheet" href="/style.css" />
    <meta property="og:title" content="The API" />
  
    <meta property="description" content="Just an API" />
    <meta property="og:url" content="https://theapi.glitch.me/" />
    <meta
      property="og:image"
      content=""
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to use this app.
    </noscript>
    <div class="title_top">
      The API
    </div>

    <div class="separator">
      <div class="cont">
        <input type="text" placeholder="Username" id="ine" />

        <select id="sel">
          <option>EUW</option>
          <option>KR</option>
          <option>OCE</option>
          <option>JP</option>
          <option>EUNE</option>
          <option>LAN</option>
          <option>BR</option>
          <option>LAS</option>
          <option>RU</option>
          <option>TR</option>
        </select>

        <button onclick="scrape()" class="checker">
          <img
            src="https://cdn.glitch.com/7d7f7882-8423-4732-8921-66c2fbbf9810%2Fsearch.png?v=1598299292615"
            class="search"
          />
        </button>
        <br />
        <p id="loading"></p>
      </div>
      <div class="container" id="container">
        <div class="child">
          <img
            src="https://cdn.glitch.com/7d7f7882-8423-4732-8921-66c2fbbf9810%2Flol.jpg?v=1598293398056"
            class="banner"
          />
        </div>

        <div class="child">
          <img id="icon" />
          <h1 id="name"></h1>
          <p id="rank"></p>

          <div class="flexer">
            <div class="child-flexer">
              <p id="level"></p>
              <p class="simple-para">
                Level
              </p>
            </div>

            <div class="child-flexer">
              <p id="ratio"></p>

              <p class="simple-para">
                Ratio
              </p>
            </div>

            <div class="child-flexer">
              <p id="lp"></p>

              <p class="simple-para">
                LP
              </p>
            </div>
          </div>
          <a target="_blank">
            <button id="sub">
              See on OP.GG
            </button></a
          >
        </div>
      </div>
    </div>
    <footer>Made with <3 by ZedRoff &copy</footer>
    <script src="/lol.js"></script>
  </body>
</html>
