  <div class="container" id="container">
        <div class="child">
          <img
            src="https://cdn.glitch.com/7d7f7882-8423-4732-8921-66c2fbbf9810%2Ftcj8tsfkyyq01.png?v=1598541175603"
            class="banner"
          />
        </div>

        <div class="child">
         <!-- <img id="icon" />-- Will update it once I can fetch images -->
          <h1 id="name"></h1>
          <p id="platform"></p>

          <div class="flexer">
            <div class="child-flexer">
              <p id="solo"></p>
              <p class="simple-para">
                Solo
              </p>
            </div>

            <div class="child-flexer">
              <p id="duo"></p>

              <p class="simple-para">
                Duo
              </p>
            </div>

            <div class="child-flexer">
              <p id="squad"></p>

              <p class="simple-para">
                Squad
              </p>
            </div>
          </div>
          <a target="_blank">
            <button id="sub">
              See on FTN website
            </button></a
          >
        </div>
      </div>
